* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120052;
    color: white;
    height: 80px;
    width: 100%;
}

body {
    background-color: #652ec7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    margin-bottom: 0.8rem;
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}

a:hover {
    background-color: darkblue;
    border-radius: 12px;
    transition: 1.5s;
}

h2 {
    color: white;
    margin-left: 1.5rem;
    font-size: 25px;
}

.img {
    height: 40px;
    margin-left: 1rem;
}